<html>
<head>
	<meta charset="UTF-8">
	<title>Equipment Rentals</title>
</head>
<body>
	<article>
		<h1> Equipment Rentals and Sales</h1>
		<h3>All your equipment needs for Construction, General Contractors, or Home renovations</h3>
		<p>Great Deals on equipment rentals and sales.</p>
	</article>
	<section>
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<ul></ul>
				<li><a href="">Shop</a>
					<ul>
						<li>Categories
							<ul>
								<li> <!-- product.category --></li>
								<li>List</li>
								<li>Of</li>
								<li>Categories</li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="">Rentals</a>
					<ul>
						<li>Products</li>
						<li>Rental form Request</li>
					</ul>
				</li>
				<li><a href="">About Us</a></li>
			</ul>
		</nav>
	</section>
	<section id="product-scroll"></section>
</body>
</html>